In [1]:
import torch 
import pickle
from tqdm import tqdm
from transformers import BertTokenizer,BertModel
from datasets import load_dataset
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, random_split, DataLoader
from transformers import BertTokenizer,BertModel
from torch import nn
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import balanced_accuracy_score
import pandas as pd

device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
# device = 'cpu'
print(device)

/home/prtissot/Documents/IA/ENV/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

cuda:0

In [2]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased') 
# model = BertModel.from_pretrained("bert-base-uncased")

In [3]:
df = pd.read_csv('data/Yelp_cities/Atlanta_reviews.csv')
# with open("data_reviews/Atlanta_trainValidTest/labels.pickle", "rb") as f:
#     x = pickle.load(f)
# df_count = df.groupby('business_id').count()
# df_count = df_count[df_count.index.isin(x)]
# df = df[df.business_id.isin(df_count.index)]

/tmp/ipykernel_14627/966736329.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Yelp_cities/Atlanta_reviews.csv')

In [4]:
def get_sup(df, nb=100):
    df_count = df.groupby('business_id').count()
    df_plus = df_count[df_count.review_id >= nb]
    return df[df.business_id.isin(df_plus.index)]

def get_groupby_business(df):
    return df.groupby('business_id').count()

def get_groupby_price(df):
    return df.groupby('price').count()

In [5]:
df = get_sup(df,2)
df.price = df.price.astype(float).fillna(0.0)
get_groupby_price(df)

,business_id,review_id,user id,stars,review_date,text,name,categories,address,postal code,text_length
price,,,,,,,,,,,
0.0,93758,93758,93758,93758,93758,93758,13,13,13,13,13
1.0,99670,99670,99670,99670,99670,99670,99670,99670,99670,99670,99670
2.0,437486,437486,437486,437486,437486,437486,437486,437486,437486,437486,437486
3.0,44621,44621,44621,44621,44621,44621,44621,44621,44621,44621,44621
4.0,5754,5754,5754,5754,5754,5754,5754,5754,5754,5754,5754

In [6]:
df['review_date'] = pd.to_datetime(df['review_date'])  
df = df.loc[(df['review_date'] >= '2008-01-01') & (df['review_date'] <= '2020-01-01')]
print(df.shape)
get_groupby_price(df)

(540160, 12)

,business_id,review_id,user id,stars,review_date,text,name,categories,address,postal code,text_length
price,,,,,,,,,,,
0.0,13,13,13,13,13,13,13,13,13,13,13
1.0,91799,91799,91799,91799,91799,91799,91799,91799,91799,91799,91799
2.0,401769,401769,401769,401769,401769,401769,401769,401769,401769,401769,401769
3.0,41307,41307,41307,41307,41307,41307,41307,41307,41307,41307,41307
4.0,5272,5272,5272,5272,5272,5272,5272,5272,5272,5272,5272

In [7]:
get_groupby_business(df)

,review_id,user id,stars,review_date,text,name,categories,address,postal code,price,text_length
business_id,,,,,,,,,,,
-0JXXCMUpe29dQ-f6pG9OA,22,22,22,22,22,22,22,22,22,22,22
-0OWS89ebRdvzOQkjptyEw,31,31,31,31,31,31,31,31,31,31,31
-4P7VlKa9n-TwOP2_nWCtw,80,80,80,80,80,80,80,80,80,80,80
-5VyAi8GR34xmDAgFZTitg,425,425,425,425,425,425,425,425,425,425,425
-6VuqBXDDJXv8CRm_CM2qg,28,28,28,28,28,28,28,28,28,28,28
...,...,...,...,...,...,...,...,...,...,...,...
zy75CWA_oJYEhtXz8OOQsg,68,68,68,68,68,68,68,68,68,68,68
zyYNLYUVabUXkwq___Q3ug,27,27,27,27,27,27,27,27,27,27,27
zylYdVSB_KCGsB-Vunncsw,30,30,30,30,30,30,30,30,30,30,30
zzin1d1oHi81GuI0ufo1VA,613,613,613,613,613,613,613,613,613,613,613
zzlkjDG9Rv8Jn-vSolMgyw,117,117,117,117,117,117,117,117,117,117,117

In [8]:
df = get_sup(df,100)
print(df.shape)

(462381, 12)

In [9]:
get_groupby_price(df)

,business_id,review_id,user id,stars,review_date,text,name,categories,address,postal code,text_length
price,,,,,,,,,,,
1.0,55375,55375,55375,55375,55375,55375,55375,55375,55375,55375,55375
2.0,364563,364563,364563,364563,364563,364563,364563,364563,364563,364563,364563
3.0,37669,37669,37669,37669,37669,37669,37669,37669,37669,37669,37669
4.0,4774,4774,4774,4774,4774,4774,4774,4774,4774,4774,4774

In [10]:
get_groupby_business(df)

,review_id,user id,stars,review_date,text,name,categories,address,postal code,price,text_length
business_id,,,,,,,,,,,
-5VyAi8GR34xmDAgFZTitg,425,425,425,425,425,425,425,425,425,425,425
-AIX1rem_OF-9Et3p_K9Gg,310,310,310,310,310,310,310,310,310,310,310
-CHazLwo2j2G8gWEZN53hA,755,755,755,755,755,755,755,755,755,755,755
-DISJqPp4zcDVw7R-MOjog,186,186,186,186,186,186,186,186,186,186,186
-EzfZm6rTohZdD9tfQaMyA,156,156,156,156,156,156,156,156,156,156,156
...,...,...,...,...,...,...,...,...,...,...,...
zpKvO2SOXHV9cxvBm6q4Fg,203,203,203,203,203,203,203,203,203,203,203
zpOcXfa6bbW6AG5L60UL_A,202,202,202,202,202,202,202,202,202,202,202
ztY4uPNUTWMN9LT3L5mD3Q,761,761,761,761,761,761,761,761,761,761,761
zzin1d1oHi81GuI0ufo1VA,613,613,613,613,613,613,613,613,613,613,613
zzlkjDG9Rv8Jn-vSolMgyw,117,117,117,117,117,117,117,117,117,117,117

## Resampling

In [11]:
# df_p = df.groupby('business_id')
# df = df_p.apply(lambda x: x.sample(df_p.size().min(), replace=True, random_state=1).reset_index(drop=True)).reset_index(drop=True)

## Weight loss

In [12]:
nb_resto = get_groupby_business(df)['review_id'].tolist()

In [13]:
MAX_NB_RESTO = max(nb_resto)

In [14]:
ratio_resto = [MAX_NB_RESTO/p for p in nb_resto]
print(ratio_resto)
WEIGHT = torch.FloatTensor(ratio_resto).to(device)

[8.76, 12.009677419354839, 4.9311258278145695, 20.016129032258064, 23.865384615384617, 16.400881057268723, 8.093478260869565, 16.846153846153847, 6.894444444444445, 8.992753623188406, 18.25, 25.155405405405407, 15.384297520661157, 18.25, 16.32894736842105, 12.882352941176471, 10.516949152542374, 6.083333333333333, 9.169950738916256, 10.008064516129032, 32.94690265486726, 6.163907284768212, 6.589380530973451, 13.9438202247191, 22.293413173652695, 20.683333333333334, 32.6578947368421, 8.4421768707483, 16.77027027027027, 19.29015544041451, 29.547619047619047, 5.640909090909091, 14.155893536121672, 10.341666666666667, 22.427710843373493, 32.94690265486726, 7.989270386266094, 14.049056603773584, 20.915730337078653, 36.14563106796116, 22.427710843373493, 10.791304347826086, 21.033898305084747, 23.124223602484474, 3.9989258861439314, 10.982300884955752, 11.74447949526814, 6.818681318681318, 11.70754716981132, 12.620338983050848, 2.8638461538461537, 25.675862068965518, 3.155084745762712, 14.773809523809524, 23.563291139240505, 8.843230403800476, 9.645077720207254, 8.12882096069869, 5.419213973799127, 6.881700554528651, 5.615384615384615, 12.009677419354839, 29.784, 12.927083333333334, 31.82051282051282, 12.620338983050848, 21.033898305084747, 22.293413173652695, 10.228021978021978, 12.620338983050848, 7.372277227722773, 21.033898305084747, 23.124223602484474, 23.41509433962264, 16.116883116883116, 22.427710843373493, 6.856353591160221, 32.6578947368421, 4.84765625, 12.837931034482759, 30.26829268292683, 15.258196721311476, 12.24671052631579, 18.52238805970149, 15.708860759493671, 6.856353591160221, 8.006451612903225, 20.456043956043956, 34.15596330275229, 33.845454545454544, 9.401515151515152, 9.03640776699029, 34.15596330275229, 35.79807692307692, 7.6921487603305785, 7.187258687258687, 36.86138613861386, 24.986577181208055, 2.534377127297481, 14.951807228915662, 34.47222222222222, 27.57777777777778, 13.78888888888889, 10.313019390581717, 16.620535714285715, 11.146706586826348, 5.170833333333333, 30.768595041322314, 37.23, 27.175182481751825, 17.397196261682243, 2.513841998649561, 6.672043010752688, 34.794392523364486, 24.986577181208055, 6.174129353233831, 20.233695652173914, 20.915730337078653, 29.0859375, 16.04741379310345, 6.474782608695652, 20.683333333333334, 15.19591836734694, 4.086717892425906, 35.12264150943396, 13.15547703180212, 32.94690265486726, 9.823218997361478, 35.79807692307692, 20.798882681564248, 9.981233243967829, 23.865384615384617, 12.535353535353535, 4.937665782493369, 16.69506726457399, 34.15596330275229, 19.594736842105263, 8.310267857142858, 37.23, 26.404255319148938, 8.9066985645933, 11.856687898089172, 18.160975609756097, 30.26829268292683, 11.350609756097562, 26.218309859154928, 4.937665782493369, 7.567073170731708, 25.155405405405407, 30.26829268292683, 6.531578947368421, 34.794392523364486, 15.448132780082988, 15.5125, 2.874903474903475, 13.538181818181819, 10.284530386740332, 23.865384615384617, 8.928057553956835, 36.5, 19.190721649484537, 28.638461538461538, 13.017482517482517, 6.342419080068143, 25.675862068965518, 31.82051282051282, 9.147420147420148, 12.451505016722408, 34.15596330275229, 29.784, 15.258196721311476, 19.29015544041451, 22.427710843373493, 5.114010989010989, 24.175324675324674, 10.667621776504298, 16.69506726457399, 4.957390146471371, 3.2261698440207973, 6.143564356435643, 14.715415019762846, 24.175324675324674, 36.14563106796116, 18.43069306930693, 10.885964912280702, 27.175182481751825, 19.6984126984127, 8.385135135135135, 9.62015503875969, 21.033898305084747, 8.366292134831461, 6.806215722120658, 2.32252027448534, 21.15340909090909, 17.644549763033176, 30.516393442622952, 25.155405405405407, 9.875331564986737, 10.428571428571429, 29.0859375, 6.520140105078809, 35.457142857142856, 12.24671052631579, 27.78358208955224, 8.404063205417607, 2.1912889935256032, 34.47222222222222, 11.634375, 17.397196261682243, 12.24671052631579, 6.49738219895288, 21.771929824561404, 10.313019390581717, 9.3075, 29.547619047619047, 5.295874822190612, 18.615, 4.584975369458128, 25.155405405405407, 21.15340909090909, 9.954545454545455, 6.407917383820998, 36.14563106796116, 4.601977750309024, 11.113432835820895, 11.81904761904762, 5.975922953451043, 8.538990825688073, 13.15547703180212, 33.845454545454544, 26.97826086956522, 13.392086330935252, 7.6447638603696095, 9.425316455696203, 18.994897959183675, 21.274285714285714, 30.26829268292683, 7.401590457256461, 7.871035940803383, 15.384297520661157, 14.102272727272727, 19.594736842105263, 7.871035940803383, 3.4440333024976875, 25.854166666666668, 8.218543046357615, 23.41509433962264, 6.520140105078809, 9.90159574468085, 32.0948275862069, 8.347533632286995, 25.675862068965518, 29.0859375, 27.57777777777778, 14.715415019762846, 34.794392523364486, 23.26875, 6.672043010752688, 33.24107142857143, 24.175324675324674, 31.82051282051282, 20.016129032258064, 10.546742209631729, 17.077981651376145, 34.15596330275229, 31.82051282051282, 7.6921487603305785, 9.954545454545455, 1.8169838945827232, 16.18695652173913, 24.333333333333332, 27.175182481751825, 4.630597014925373, 37.23, 9.546153846153846, 22.701219512195124, 14.319230769230769, 23.865384615384617, 16.18695652173913, 3.0219155844155843, 19.90909090909091, 36.14563106796116, 8.347533632286995, 4.5962962962962965, 33.845454545454544, 8.558620689655172, 12.577702702702704, 20.915730337078653, 26.784172661870503, 14.264367816091953, 7.6921487603305785, 12.706484641638225, 23.713375796178344, 12.087662337662337, 8.273333333333333, 3.6897918731417243, 2.546511627906977, 7.372277227722773, 14.832669322709163, 15.384297520661157, 21.033898305084747, 16.846153846153847, 34.47222222222222, 16.04741379310345, 9.74607329842932, 21.6453488372093, 32.6578947368421, 19.390625, 12.327814569536423, 7.80503144654088, 23.563291139240505, 29.547619047619047, 27.375, 5.881516587677726, 20.798882681564248, 25.675862068965518, 7.446, 22.02958579881657, 21.9, 33.54054054054054, 14.049056603773584, 20.233695652173914, 33.24107142857143, 32.6578947368421, 14.319230769230769, 16.25764192139738, 34.794392523364486, 29.547619047619047, 30.768595041322314, 6.299492385786802, 13.202127659574469, 1.2083739045764361, 11.971061093247588, 11.598130841121495, 3.708167330677291, 5.295874822190612, 21.15340909090909, 32.94690265486726, 8.461363636363636, 24.986577181208055, 19.90909090909091, 5.128099173553719, 7.314341846758349, 36.5, 26.784172661870503, 5.985530546623794, 28.86046511627907, 24.49342105263158, 21.6453488372093, 14.430232558139535, 22.701219512195124, 18.803030303030305, 27.992481203007518, 19.8031914893617, 31.025, 15.19591836734694, 18.70854271356784, 37.23, 9.147420147420148, 33.54054054054054, 4.9772727272727275, 21.9, 21.033898305084747, 26.59285714285714, 5.251057827926657, 31.82051282051282, 18.160975609756097, 19.6984126984127, 20.456043956043956, 12.287128712871286, 4.334109429569266, 13.109154929577464, 7.887711864406779, 7.59795918367347, 5.565022421524664, 35.457142857142856, 36.14563106796116, 32.6578947368421, 26.034965034965033, 29.547619047619047, 29.547619047619047, 29.31496062992126, 36.86138613861386, 26.404255319148938, 18.615, 24.175324675324674, 23.563291139240505, 18.07281553398058, 26.034965034965033, 7.8544303797468356, 7.955128205128205, 36.5, 16.846153846153847, 24.333333333333332, 1.1659880989664893, 34.15596330275229, 7.401590457256461, 6.624555160142349, 12.368770764119601, 10.313019390581717, 32.6578947368421, 8.4421768707483, 12.577702702702704, 14.155893536121672, 19.8031914893617, 19.49214659685864, 31.285714285714285, 32.0948275862069, 6.57773851590106, 8.480637813211844, 36.86138613861386, 20.233695652173914, 24.49342105263158, 17.985507246376812, 17.56132075471698, 12.97212543554007, 12.048543689320388, 16.546666666666667, 13.48913043478261, 29.547619047619047, 10.062162162162162, 5.790046656298601, 17.56132075471698, 20.233695652173914, 5.710122699386503, 11.281818181818181, 20.34426229508197, 7.03780718336484, 36.5, 13.840148698884759, 36.86138613861386, 11.455384615384615, 4.007534983853606, 13.440433212996389, 34.47222222222222, 21.6453488372093, 10.284530386740332, 18.803030303030305, 11.047477744807122, 12.493288590604028, 14.832669322709163, 6.385934819897084, 36.5, 33.845454545454544, 13.9438202247191, 22.98148148148148, 25.155405405405407, 24.49342105263158, 28.419847328244273, 18.803030303030305, 26.59285714285714, 23.26875, 30.26829268292683, 14.951807228915662, 12.048543689320388, 4.84765625, 17.397196261682243, 11.213855421686747, 24.175324675324674, 27.992481203007518, 3.0048426150121066, 23.124223602484474, 27.992481203007518, 27.992481203007518, 7.551724137931035, 35.79807692307692, 8.310267857142858, 8.638051044083527, 14.715415019762846, 26.784172661870503, 32.0948275862069, 21.033898305084747, 36.86138613861386, 10.313019390581717, 33.845454545454544, 13.587591240875913, 17.077981651376145, 26.404255319148938, 24.986577181208055, 26.034965034965033, 13.587591240875913, 13.587591240875913, 35.12264150943396, 23.124223602484474, 23.563291139240505, 8.9066985645933, 8.843230403800476, 8.2549889135255, 8.006451612903225, 27.57777777777778, 27.78358208955224, 6.636363636363637, 15.577405857740585, 19.594736842105263, 6.9981203007518795, 11.894568690095847, 18.615, 18.994897959183675, 10.637142857142857, 10.760115606936417, 10.606837606837606, 36.5, 18.994897959183675, 10.062162162162162, 16.77027027027027, 26.034965034965033, 26.218309859154928, 22.427710843373493, 19.8031914893617, 22.02958579881657, 7.6447638603696095, 17.47887323943662, 28.638461538461538, 31.82051282051282, 3.012135922330097, 26.034965034965033, 3.418732782369146, 34.47222222222222, 5.918918918918919, 10.035040431266847, 17.077981651376145, 20.016129032258064, 5.170833333333333, 26.034965034965033, 6.94589552238806, 28.86046511627907, 11.213855421686747, 23.563291139240505, 34.794392523364486, 6.7690909090909095, 34.47222222222222, 16.400881057268723, 22.98148148148148, 32.6578947368421, 13.9438202247191, 11.047477744807122, 13.15547703180212, 10.606837606837606, 36.14563106796116, 14.155893536121672, 19.29015544041451, 19.90909090909091, 22.84049079754601, 7.724066390041494, 7.091428571428572, 19.29015544041451, 22.701219512195124, 13.202127659574469, 12.287128712871286, 13.9438202247191, 13.6875, 35.457142857142856, 33.845454545454544, 16.922727272727272, 26.218309859154928, 15.978540772532188, 29.0859375, 27.78358208955224, 13.587591240875913, 14.264367816091953, 18.339901477832512, 34.47222222222222, 5.1565096952908585, 18.615, 28.86046511627907, 12.927083333333334, 22.427710843373493, 18.615, 20.456043956043956, 8.718969555035128, 12.66326530612245, 17.23611111111111, 33.845454545454544, 15.072874493927126, 28.86046511627907, 9.67012987012987, 16.546666666666667, 26.034965034965033, 13.15547703180212, 6.894444444444445, 16.620535714285715, 7.921276595744681, 32.94690265486726, 10.370473537604457, 17.56132075471698, 31.550847457627118, 14.155893536121672, 27.992481203007518, 18.25, 3.1524132091447927, 15.91025641025641, 22.701219512195124, 14.715415019762846, 21.033898305084747, 9.797368421052632, 28.204545454545453, 21.396551724137932, 18.160975609756097, 31.550847457627118, 11.562111801242237, 24.175324675324674, 6.407917383820998, 7.401590457256461, 27.57777777777778, 19.49214659685864, 12.048543689320388, 18.52238805970149, 24.019354838709678, 26.784172661870503, 15.978540772532188, 30.516393442622952, 24.82, 24.986577181208055, 8.843230403800476, 7.446, 33.24107142857143, 20.124324324324323, 10.313019390581717, 22.293413173652695, 2.125, 16.32894736842105, 36.86138613861386, 15.978540772532188, 5.581709145427286, 13.29642857142857, 2.350378787878788, 22.98148148148148, 28.638461538461538, 8.698598130841122, 36.86138613861386, 4.6248447204968945, 25.854166666666668, 10.487323943661972, 10.399441340782124, 7.314341846758349, 18.160975609756097, 8.678321678321678, 23.865384615384617, 12.41, 9.90159574468085, 20.915730337078653, 13.48913043478261, 14.951807228915662, 8.578341013824884, 4.274397244546498, 9.546153846153846, 6.353242320819112, 19.390625, 9.238213399503723, 2.226674641148325, 17.8133971291866, 15.775423728813559, 26.784172661870503, 21.396551724137932, 8.538990825688073, 12.577702702702704, 15.978540772532188, 24.175324675324674, 7.104961832061068, 15.012096774193548, 5.606927710843373, 10.228021978021978, 10.256198347107437, 23.563291139240505, 14.430232558139535, 2.67264895908112, 28.204545454545453, 1.9553571428571428, 28.419847328244273, 21.771929824561404, 22.02958579881657, 12.20655737704918, 6.163907284768212, 26.97826086956522, 7.132183908045977, 7.989270386266094, 9.645077720207254, 11.49074074074074, 6.84375, 17.89903846153846, 13.15547703180212, 33.845454545454544, 8.598152424942263, 23.124223602484474, 1.1994201030927836, 8.146608315098469, 17.8133971291866, 6.624555160142349, 29.31496062992126, 10.035040431266847, 17.644549763033176, 17.728571428571428, 17.0, 23.563291139240505, 27.57777777777778, 35.79807692307692, 10.95, 16.846153846153847, 27.78358208955224, 34.794392523364486, 9.645077720207254, 6.818681318681318, 25.675862068965518, 7.75625, 28.638461538461538, 22.427710843373493, 17.15668202764977, 34.794392523364486, 11.932692307692308, 7.446, 10.172131147540984, 29.31496062992126, 26.784172661870503, 23.41509433962264, 5.710122699386503, 22.02958579881657, 6.10327868852459, 18.994897959183675, 12.327814569536423, 35.457142857142856, 8.822274881516588, 7.2011605415860735, 21.274285714285714, 10.576704545454545, 8.07592190889371, 24.82, 15.072874493927126, 30.768595041322314, 12.927083333333334, 24.82, 34.15596330275229, 15.134146341463415, 34.15596330275229, 21.771929824561404, 26.218309859154928, 10.341666666666667, 32.37391304347826, 17.15668202764977, 29.784, 11.350609756097562, 30.024193548387096, 8.698598130841122, 26.218309859154928, 1.426983518589498, 8.461363636363636, 12.368770764119601, 35.12264150943396, 14.155893536121672, 5.515555555555555, 24.49342105263158, 8.480637813211844, 8.366292134831461, 28.638461538461538, 10.284530386740332, 14.155893536121672, 8.461363636363636, 12.087662337662337, 6.660107334525939, 20.34426229508197, 5.606927710843373, 31.025, 17.077981651376145, 15.320987654320987, 13.017482517482517, 13.637362637362637, 21.274285714285714, 6.257142857142857, 32.0948275862069, 34.794392523364486, 19.90909090909091, 10.14441416893733, 31.285714285714285, 32.37391304347826, 9.080487804878048, 15.320987654320987, 6.215358931552587, 21.6453488372093, 16.25764192139738, 30.26829268292683, 13.29642857142857, 36.14563106796116, 6.225752508361204, 21.771929824561404, 9.35427135678392, 14.209923664122137, 23.124223602484474, 16.18695652173913, 20.456043956043956, 15.012096774193548, 2.2094955489614243, 13.587591240875913, 28.638461538461538, 6.153719008264463, 9.192592592592593, 11.316109422492401, 27.57777777777778, 32.37391304347826, 5.411337209302325, 34.15596330275229, 30.768595041322314, 35.79807692307692, 17.728571428571428, 7.821428571428571, 8.8854415274463, 16.32894736842105, 8.538990825688073, 35.12264150943396, 34.15596330275229, 17.077981651376145, 8.093478260869565, 5.251057827926657, 32.94690265486726, 19.90909090909091, 15.072874493927126, 16.18695652173913, 5.799065420560748, 11.281818181818181, 27.992481203007518, 5.149377593360996, 12.20655737704918, 19.6984126984127, 9.797368421052632, 9.28428927680798, 17.644549763033176, 11.18018018018018, 28.638461538461538, 31.025, 3.5356125356125356, 27.375, 3.453617810760668, 4.718631178707224, 30.26829268292683, 22.98148148148148, 28.86046511627907, 35.12264150943396, 36.86138613861386, 2.886046511627907, 13.9438202247191, 35.457142857142856, 8.461363636363636, 13.017482517482517, 8.423076923076923, 27.375, 36.5, 6.601063829787234, 33.24107142857143, 23.865384615384617, 9.595360824742269, 7.75625, 9.720626631853786, 10.008064516129032, 34.15596330275229, 17.644549763033176, 31.82051282051282, 17.89903846153846, 12.368770764119601, 33.54054054054054, 11.526315789473685, 33.54054054054054, 3.0717821782178216, 10.982300884955752, 23.124223602484474, 21.033898305084747, 11.894568690095847, 3.914826498422713, 6.0932896890343695, 8.578341013824884, 29.0859375, 5.692660550458716, 5.540178571428571, 14.715415019762846, 16.922727272727272, 26.784172661870503, 37.23, 17.0, 28.86046511627907, 32.0948275862069, 24.333333333333332, 17.985507246376812, 25.5, 27.78358208955224, 34.794392523364486, 19.90909090909091, 13.738007380073801, 4.828793774319066, 25.854166666666668, 20.233695652173914, 14.54296875, 19.8031914893617, 17.077981651376145, 22.98148148148148, 20.456043956043956, 6.696043165467626, 16.116883116883116, 21.033898305084747, 16.69506726457399, 12.882352941176471, 13.587591240875913, 27.375, 4.540243902439024, 34.794392523364486, 23.124223602484474, 13.063157894736841, 17.23611111111111, 3.502351834430856, 25.3265306122449, 14.951807228915662, 17.15668202764977, 37.23, 8.9066985645933, 25.854166666666668, 7.613496932515337, 29.784, 13.440433212996389, 17.23611111111111, 22.701219512195124, 21.6453488372093, 29.0859375, 31.82051282051282, 30.516393442622952, 4.773076923076923, 24.986577181208055, 3.9438559322033897, 5.937799043062201, 11.932692307692308, 28.86046511627907, 27.992481203007518, 12.24671052631579, 32.0948275862069, 12.577702702702704, 33.845454545454544, 21.274285714285714, 22.427710843373493, 12.837931034482759, 34.794392523364486, 1.4850418827283607, 32.6578947368421, 26.59285714285714, 37.23, 7.6921487603305785, 9.954545454545455, 27.175182481751825, 11.971061093247588, 9.102689486552567, 30.768595041322314, 5.236286919831223, 32.94690265486726, 23.124223602484474, 2.105769230769231, 24.82, 22.02958579881657, 31.550847457627118, 23.26875, 13.637362637362637, 35.12264150943396, 6.589380530973451, 26.59285714285714, 28.86046511627907, 19.594736842105263, 11.080357142857142, 23.124223602484474, 12.287128712871286, 15.842553191489362, 23.41509433962264, 6.01453957996769, 22.84049079754601, 13.78888888888889, 18.52238805970149, 23.26875, 25.854166666666668, 6.9981203007518795, 21.520231213872833, 21.274285714285714, 3.4472222222222224, 25.675862068965518, 26.218309859154928, 23.865384615384617, 7.708074534161491, 11.213855421686747, 6.143564356435643, 17.316279069767443, 14.209923664122137, 17.985507246376812, 32.6578947368421, 30.516393442622952, 16.620535714285715, 7.506048387096774, 10.729106628242075, 35.79807692307692, 30.26829268292683, 5.466960352422907, 31.82051282051282, 5.3568345323741005, 5.918918918918919, 35.457142857142856, 8.94951923076923, 12.41, 23.563291139240505, 23.124223602484474, 17.985507246376812, 4.898684210526316, 12.75, 28.638461538461538, 20.915730337078653, 18.803030303030305, 22.701219512195124, 5.87223974763407, 31.025, 8.2549889135255, 19.190721649484537, 28.419847328244273, 25.155405405405407, 10.062162162162162, 19.6984126984127, 24.986577181208055, 35.79807692307692, 3.5255681818181817, 10.089430894308943, 36.14563106796116, 2.326875, 11.113432835820895, 34.15596330275229, 3.2976085031000886, 28.638461538461538, 3.354054054054054, 30.516393442622952, 15.642857142857142, 26.59285714285714, 12.97212543554007, 4.584975369458128, 13.344086021505376, 21.6453488372093, 15.072874493927126, 30.516393442622952, 23.26875, 14.773809523809524, 11.562111801242237, 8.658139534883722, 12.882352941176471, 28.86046511627907, 7.904458598726115, 37.23, 19.49214659685864, 3.6110572259941804, 13.48913043478261, 25.3265306122449, 31.550847457627118, 17.397196261682243, 3.7796954314720814, 5.310984308131241, 13.538181818181819, 23.41509433962264, 20.124324324324323, 8.461363636363636, 28.419847328244273, 10.035040431266847, 6.342419080068143, 7.989270386266094, 3.715568862275449, 18.615, 29.784, 18.803030303030305, 9.6953125, 17.8133971291866, 18.615, 17.23611111111111, 7.821428571428571, 19.190721649484537, 19.594736842105263, 7.821428571428571, 22.293413173652695, 3.9690831556503197, 22.84049079754601, 9.03640776699029, 19.29015544041451, 28.419847328244273, 6.

In [15]:
get_groupby_price(df)

,business_id,review_id,user id,stars,review_date,text,name,categories,address,postal code,text_length
price,,,,,,,,,,,
1.0,55375,55375,55375,55375,55375,55375,55375,55375,55375,55375,55375
2.0,364563,364563,364563,364563,364563,364563,364563,364563,364563,364563,364563
3.0,37669,37669,37669,37669,37669,37669,37669,37669,37669,37669,37669
4.0,4774,4774,4774,4774,4774,4774,4774,4774,4774,4774,4774

In [16]:
get_groupby_business(df)

,review_id,user id,stars,review_date,text,name,categories,address,postal code,price,text_length
business_id,,,,,,,,,,,
-5VyAi8GR34xmDAgFZTitg,425,425,425,425,425,425,425,425,425,425,425
-AIX1rem_OF-9Et3p_K9Gg,310,310,310,310,310,310,310,310,310,310,310
-CHazLwo2j2G8gWEZN53hA,755,755,755,755,755,755,755,755,755,755,755
-DISJqPp4zcDVw7R-MOjog,186,186,186,186,186,186,186,186,186,186,186
-EzfZm6rTohZdD9tfQaMyA,156,156,156,156,156,156,156,156,156,156,156
...,...,...,...,...,...,...,...,...,...,...,...
zpKvO2SOXHV9cxvBm6q4Fg,203,203,203,203,203,203,203,203,203,203,203
zpOcXfa6bbW6AG5L60UL_A,202,202,202,202,202,202,202,202,202,202,202
ztY4uPNUTWMN9LT3L5mD3Q,761,761,761,761,761,761,761,761,761,761,761
zzin1d1oHi81GuI0ufo1VA,613,613,613,613,613,613,613,613,613,613,613
zzlkjDG9Rv8Jn-vSolMgyw,117,117,117,117,117,117,117,117,117,117,117

In [17]:
# df['weight'] = df.price.apply(lambda x: ratio_price[int(x)-1])

In [18]:
# df[['price', 'weight']].head(15)

In [19]:
# df['review_date'] = pd.to_datetime(df['review_date'])  
# df = df.loc[(df['review_date'] > '2008-01-01') & (df['review_date'] <= '2020-01-01')]

In [20]:
# display(df)
# print(df.columns)

In [21]:
# def get_sup(df, nb=100):
#     df_count = df.groupby('business_id').count()
#     df_plus = df_count[df_count.review_id >= nb]
#     return df[df.business_id.isin(df_plus.index)]

# df = get_sup(df,2)
# df = df.loc[(df['review_date'] > '2008-01-01') & (df['review_date'] <= '2020-01-01')]
# df = get_sup(df)

In [22]:
# df

In [23]:
labels = df['business_id']
print(len(labels))
LABELS = list(labels.unique())
# print(LABELS)
NB_CLASSES = len(LABELS)
print(NB_CLASSES)

462381
1404

In [24]:
# sent = df['text']
# sent = sent.unique()
# print(len(sent))
# sentToken = [tokenizer.tokenize(str(s)) for s in sent]
# NB_TOKEN = max(len(s) for s in sentToken)+2
# print(NB_TOKEN)

In [25]:
# sentTest = max(sentToken, key = len)
# print(sentTest)
# tok = tokenizer(sentTest, add_special_tokens=True, padding=True, return_tensors="pt")
# print(tok['input_ids'])
# print(tok['input_ids'].shape)

In [26]:
NB_TOKEN = 512

In [27]:
def split(df,ratio = 0.9):
    msk = np.random.rand(len(df)) < ratio
    train = df[msk]
    test = df[~msk]
    return train, test

In [28]:
train, test = split(df)
train, val = split(train)

In [29]:
print(len(train))
print(len(val))
print(len(test))

374784
41635
45962

In [30]:
class MyDataset(Dataset):
    def __init__(self, sentence, labels):
        self.wrapped_input = tokenizer(sentence, max_length=NB_TOKEN, add_special_tokens=True, truncation=True,
                          padding='max_length', return_tensors="pt")
        lab_idx = np.array([LABELS.index(l) for l in labels])
        self.labels = np.zeros((lab_idx.size, NB_CLASSES))
        self.labels[np.arange(lab_idx.size), lab_idx] = 1
        # self.labels = np.array(labels).astype(float)
    def __getitem__(self, idx):
        input_dict = {}
        for k in self.wrapped_input.keys():
            input_dict[k] = self.wrapped_input[k][idx]
        return input_dict, self.labels[idx]
    
    def __len__(self):
        return len(self.labels)

In [31]:
BATCH_SIZE = 100

trainset = MyDataset(train['text'].astype(str).tolist(), train['business_id'])
print('train done')
valset = MyDataset(val['text'].astype(str).tolist(), val['business_id'])

train_loader = DataLoader(trainset, batch_size=BATCH_SIZE, shuffle=True)
val_loader = DataLoader(valset, batch_size=BATCH_SIZE, shuffle=False)

train done

In [36]:
# with open('train_dataloader.pkl', 'wb') as f:
#     pickle.dump(train_loader, f)
# with open('val_dataloader.pkl', 'wb') as f:
#     pickle.dump(val_loader, f)

In [37]:
# with open('train_dataloader.pkl', 'rb') as f:
#     train_loader = pickle.load(f)
# with open('val_dataloader.pkl', 'rb') as f:
#     val_loader = pickle.load(f)

In [38]:
# df['text'][:10].astype(str).tolist()

In [32]:
class BERT_classifier(nn.Module):
    def __init__(self, num_label):
        super().__init__()
        self.bert = BertModel.from_pretrained("bert-base-uncased")
        for param in self.bert.parameters():
            param.requires_grad = False
        self.classifier = nn.Sequential(
            nn.Linear(self.bert.config.hidden_size, 1024),
            nn.ReLU(),
            nn.Linear(1024, num_label),
        )

    def forward(self, wrapped_input):
        hidden = self.bert(**wrapped_input)
        last_hidden_state, pooler_output = hidden[0], hidden[1]
        logits = self.classifier(pooler_output)
        # logits = self.softmax(logits)

        return logits.squeeze()

    # def forward(self, input_ids, token_type_ids, attention_mask=None):
    #     pooled_out = self.bert(input_ids, token_type_ids, attention_mask)[1]
    #     logits = self.classifier(pooled_out)
    #     return logits

In [33]:
model = BERT_classifier(NB_CLASSES).to(device)
print(model)

BERT_classifier(
  (bert): BertModel(
    (embeddings): BertEmbeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(512, 768)
      (token_type_embeddings): Embedding(2, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): BertEncoder(
      (layer): ModuleList(
        (0-11): 12 x BertLayer(
          (attention): BertAttention(
            (self): BertSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): BertSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): BertIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): BertOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (pooler): BertPooler(
      (dense): Linear(in_features=768, out_features=768, bias=True)
      (activation): Tanh()
    )
  )
  (classifier): Sequential(
    (0): Linear(in_features=768, out_features=1024, bias=True)
    (1): ReLU()
    (2): Linear(in_features=1024, out_features=1404, bias=True)
  )
)

In [34]:
batch_data, batch_label = next(iter(train_loader))
for k, v in batch_data.items():
    batch_data[k] = v.to(device)
    print(v.shape)
batch_label = batch_label.to(device)

batch_logits = model(batch_data)
print(batch_logits.shape)
print(batch_logits)
print(batch_label)
print(batch_data['input_ids'].shape)
print(type(batch_label[0]))

torch.Size([100, 512])
torch.Size([100, 512])
torch.Size([100, 512])
torch.Size([100, 1404])
tensor([[ 0.3269,  0.0519, -0.0199,  ...,  0.0365, -0.1256, -0.0881],
        [ 0.2087,  0.0575,  0.0316,  ..., -0.1215, -0.1483, -0.0575],
        [ 0.2793,  0.0428,  0.0041,  ..., -0.0106, -0.1181, -0.0916],
        ...,
        [ 0.2671,  0.0623, -0.0004,  ..., -0.0980, -0.1628, -0.0484],
        [ 0.2976,  0.0694, -0.0299,  ...,  0.0686, -0.1553, -0.0807],
        [ 0.2843,  0.1008, -0.0004,  ..., -0.0906, -0.1693, -0.0703]],
       device='cuda:0', grad_fn=<SqueezeBackward0>)
tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]], device='cuda:0', dtype=torch.float64)
torch.Size([100, 512])
<class 'torch.Tensor'>

In [35]:
criterion = nn.CrossEntropyLoss(weight=WEIGHT)
# criterion = nn.CrossEntropyLoss()
loss = criterion(batch_logits, batch_label)
print(loss)

tensor(127.0077, device='cuda:0', dtype=torch.float64, grad_fn=<DivBackward1>)

In [36]:
def train(model, train_loader, optimizer, criterion, epoch):
    model.train()
    train_loss, correct = 0, 0
    for data, label in tqdm(train_loader):
        device_data = {}
        for k, v in data.items():
            device_data[k] = v.to(device)
        device_label = label.to(device)
        
        optimizer.zero_grad()
        output = model(device_data)
        loss = criterion(output, device_label)
        train_loss += loss.item()
        loss.backward()
        optimizer.step()

        pred = output.argmax(dim=1)
        lab = device_label.argmax(dim=1)
        correct += pred.eq(lab).sum().item()

    train_loss /= len(train_loader)
    acc = correct/len(train_loader.dataset)

    return train_loss, acc


def val(model, val_loader, criterion, min_val_loss):
    model.eval()
    val_loss, correct = 0, 0.
    with torch.no_grad():
        for data, label in val_loader:
            device_data = {}
            for k, v in data.items():
                device_data[k] = v.to(device)
            device_label = label.to(device)
            
            output = model(device_data)
            val_loss += criterion(output, device_label).item()

            pred = output.argmax(dim=1)
            lab = device_label.argmax(dim=1)
            correct += pred.eq(lab).sum().item()
            
        val_loss /= len(val_loader)
        acc = correct/len(val_loader.dataset)
        
    if min_val_loss>val_loss:
        min_val_loss = val_loss
        torch.save(model.state_dict(), 'best-model-parameters.pt')
        print('model saved')

    return val_loss, acc, min_val_loss

def fit(model, train_loader, val_loader, epochs, optimizer, criterion):
    loss_train_per_epoch = []
    acc_train_per_epoch = []
    loss_val_per_epoch = []
    acc_val_per_epoch = []
    min_val_loss = 1000
    for epoch in range(epochs):
        train_loss, train_acc = train(model, train_loader, optimizer, criterion, epoch+1)
        val_loss, val_acc, min_val_loss = val(model, val_loader, criterion, min_val_loss)

        print(f'[{epoch + 1}, {len(train_loader) + 1:5d}] loss: {train_loss:.3f}, accuracy: {train_acc:.3f} loss_val: {val_loss:.3f}, accuracy_val: {val_acc:.3f}')
        
        loss_train_per_epoch += [train_loss]
        acc_train_per_epoch += [train_acc]
        loss_val_per_epoch += [val_loss]
        acc_val_per_epoch += [val_acc]
        
    return loss_train_per_epoch, loss_val_per_epoch, acc_train_per_epoch, acc_val_per_epoch

In [ ]:
optimizer = optim.Adam(model.parameters(), lr=5e-3)
criterion = nn.CrossEntropyLoss(weight=WEIGHT)
# criterion = nn.CrossEntropyLoss()
epochs=30
loss_train_per_epoch, loss_val_per_epoch, acc_train_per_epoch, acc_val_per_epoch = fit(model, train_loader, val_loader, epochs, optimizer, criterion)

100%|█████████████████████████████████████| 3748/3748 [2:08:19<00:00,  2.05s/it]

model saved
[1,  3749] loss: 121.568, accuracy: 0.008 loss_val: 121.800, accuracy_val: 0.007

 71%|██████████████████████████▎          | 2663/3748 [1:31:12<37:10,  2.06s/it]

In [ ]:
batch_data, batch_label = next(iter(val_loader))
for k, v in batch_data.items():
    batch_data[k] = v.to(device)
batch_logits = model(batch_data)
print(batch_logits)
print(batch_label)

In [ ]:
def show_loss(loss_train,loss_val):
    plt.figure(figsize=(10,5))
    plt.title("Training and Validation Loss")
    plt.plot(loss_val,label="val")
    plt.plot(loss_train,label="train")
    plt.xlabel("iterations")
    plt.ylabel("Loss")
    plt.legend()
    plt.show()

def show_acuracy(acc_train,acc_val):
    plt.figure(figsize=(10,5))
    plt.title("Training and Validation Accuracy")
    plt.plot(acc_val,label="val")
    plt.plot(acc_train,label="train")
    plt.xlabel("iterations")
    plt.ylabel("Accuracy")
    plt.legend()
    plt.show()

In [ ]:
def show_matrix_confusion(model, val_dataloader):
    model.eval()
    val_acc = 0.0
    true_lab = []
    pred = []
    with torch.no_grad():
        for data, label in val_loader:
            device_data = {}
            for k, v in data.items():
                device_data[k] = v.to(device)
            device_label = label.to(device)
            
            output = model(device_data)
            out = output.argmax(dim=1)
            lab = device_label.argmax(dim=1)
            val_acc += out.eq(lab).sum().item()
            true_lab += [lab.cpu().numpy()]
            pred += [out.cpu().numpy()]
    
    print(f'accuracy: {val_acc / len(val_dataloader.dataset):.3f}')
    y_pred = np.concatenate(pred)
    y_true = np.concatenate(true_lab)

    print("Balanced accuracy :",balanced_accuracy_score(y_true, y_pred))
    
    confusion_matrix = metrics.confusion_matrix(y_true, y_pred)
    cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix)
    
    cm_display.plot()
    plt.show()

In [ ]:
show_acuracy(acc_train_per_epoch,acc_val_per_epoch)

In [ ]:
show_loss(loss_train_per_epoch,loss_val_per_epoch)

In [ ]:
show_matrix_confusion(model, val_loader)